<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro de Pacotes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #pacoteForm="ngForm" novalidate>
    <ion-item>
      <ion-label position="floating">Nome *:</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="pacote.nome" required minlength="1" pattern="[a-zA-Z ]+" #campoNome="ngModel">
      </ion-input>
      <ion-text color="danger" *ngIf="campoNome.invalid && (campoNome.dirty || campoNome.touched)">
        <small>
          <span *ngIf="campoNome.errors.required">
            O nome é obrigatório
          </span>
          <span *ngIf="campoNome.errors.pattern">
            O campo nome deve conter apenas letras
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Preco *:</ion-label>
        <ion-input type="text" name="preco" [(ngModel)]="pacote.preco" required min="0" pattern="[0-9]+\.?[0-9]*" #campoPreco="ngModel">
      </ion-input>
      <ion-text color="danger" *ngIf="campoPreco.invalid && (campoPreco.dirty || campoPreco.touched)">
        <small>
          <span *ngIf="campoPreco.errors.required">
            O preço é obrigatório
          </span>
          <span *ngIf="campoPreco.errors.pattern">
            O campo preço deve conter apenas numeros
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="salvar()" [disabled]="pacoteForm.invalid">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>
</ion-content>