<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-title>
      Netuno - Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button [routerLink]="['/cliente']" routerdirection="foward" tab="btnClientes">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Clientes</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/pacote']" routerdirection="foward" tab="btnPacotes">
        <ion-icon name="logo-dropbox"></ion-icon>
        <ion-label>Pacotes</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/automovel']" routerdirection="foward" tab="btnVeiculo">
        <ion-icon name="car-outline"></ion-icon>
        <ion-label>Automovéis</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/funcionario']" routerdirection="foward" tab="btnFuncionario">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Funcionarios</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

  <ion-list>
    <ion-item *ngFor="let agenda of agendas">
      <ion-item>
        <ion-label>{{agenda.date}}</ion-label>
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-icon color="primary" name="create" slot="end" [routerLink]="['/agenda/cadastro', agenda.id]"></ion-icon>
        <ion-icon color="primary" name="trash" slot="end" (click)="confirmarExclusao(agenda)"></ion-icon>
      </ion-item>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button [routerLink]="['/agenda/cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>